<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="form">
            <h1>Message</h1>

            <form action="/form" method="post">
                <div class="inputs">
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="inputs">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter Message"></textarea>
                </div>
                <div class="inputs">
                    <input type="submit" value="submit" class="btn">
                </div>
            </form>
        </div>
    </main>
</body>
</html>