<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <main>
        <a href="/form">Send a message</a>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
        <div class="message">
            <p class="name">Ishan Pattnayak</p>
            <p class="date">1 min ago</p>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo.</p>
        </div>
    </main>
</body>
</html>